default: &default
  adapter: mysql2
  username: root
  host: localhost
  password: 
  socket: /var/mysql/mysql.sock
  reconnect: true

development:
  <<: *default
  database: esdb_development

test:
  <<: *default
  database: esdb_test
